<header class="text-center text-white masthead" style="background:url('assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto position-relative">
                <h1 class="mb-5">Добро пожаловать в мир инноваций и технологического прогресса, где каждая идея превращается в реальность!</h1>
            </div>
        </div>
    </div>
  </header>
<section class="text-center bg-light features-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Адаптивный дизайн</h3>
                    <p class="lead mb-0">Наши дизайнеры сделают так, чтобы ваш бренд выглядел идеально на любом устройстве!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Комплексный подход</h3>
                    <p class="lead mb-0">Объединяем передовые технологии, глубокий анализ рынка и индивидуальный подход к потребностям каждого клиента!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Быстро и легко</h3>
                    <p class="lead mb-0">Поможем быстро составить четкое ТЗ и найти решение, удоволетворяющее конкретного Вас!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;assets/img/bg-showcase-1.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Полностью адаптивный дизайн</h2>
                <p class="lead mb-0">Наши талантливые дизайнеры с богатым опытом и креативным мышлением готовы взять на себя задачу создания визуальной концепции, которая не только воплотит ваш бренд в совершенно новом свете, но и гарантированно привлечет внимание вашей аудитории.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;assets/img/bg-showcase-2.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Комплексный подход</h2>
                <p class="lead mb-0">Наши специалисты учитывают не только современные тенденции в дизайне, но и особенности вашей индустрии, вашу целевую аудиторию и конкурентное окружение, чтобы создать уникальное визуальное решение, отражающее дух вашего бренда и поддерживающее его цели и ценности!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image:url(&quot;assets/img/bg-showcase-3.jpg&quot;);"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Быстро и легко</h2>
                <p class="lead mb-0">Мы уделяем особое внимание каждой детали, чтобы удовлетворить все ваши потребности и предоставить вам решение, которое будет не только соответствовать вашим ожиданиям, но и превзойдет их. Наша цель - не просто выполнить ваше ТЗ, но и предложить вам инновационные и эффективные решения, которые помогут вам добиться максимальных результатов в вашем проекте.</p>
            </div>
        </div>
    </div>
</section>