<nav class="navbar fixed-top navbar-light navbar-expand bg-light navigation-clean">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Компания</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto mb-2 mb-lg-0"></div>
      <div class="d-flex">
        <div class="collapse navbar-collapse me-2" id="navcol-1">
          <a class="btn btn-primary ms-auto" role="button" routerLink="/">О компании</a>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
          <a class="btn btn-primary float-end" role="button" routerLink="/employees">Сотрудники</a>
        </div>
      </div>    
    </div>

  </div>
</nav>
<header class="text-center text-white masthead" style="background:url('assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto position-relative">
              <h1 class="mb-5">Добро пожаловать в мир инноваций и технологического прогресса, где каждая идея превращается в реальность!</h1>
          </div>
      </div>
  </div>
</header>